<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <title>validar</title>
    
</head>

<body>
    <h1>Iniciar Sesión</h1>
    <form id="loginForm" method="POST">
        <label for="cedula">Cédula:</label>
        <input type="text" id="cedula" name="cedula" required><br><br>

        <label for="clave">Clave:</label>
        <input type="password" id="clave" name="clave" required><br><br>

        <input type="submit" value="Iniciar Sesión">
    </form>

    <p>¿No tienes una cuenta? <a href="/registro">Regístrate aquí</a></p>

    <script>
        // Capturar el formulario
        const loginForm = document.getElementById('loginForm');

        // Escuchar el evento de envío del formulario
        loginForm.addEventListener('submit', (event) => {
            event.preventDefault(); // Evitar el envío del formulario

            // Obtener los valores de los inputs
            const cedula = document.getElementById('cedula').value;
            const clave = document.getElementById('clave').value;

            // Realizar la petición al servidor para validar el cliente
            fetch('/clientes/validar', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ cedula, clave })
            })
                .then(response => {
                    if (response.ok) {
                        // Obtener los datos de la respuesta
                        return response.json();
                    } else {
                        // Mostrar mensaje de error
                        alert('Cédula o clave incorrectas');
                        throw new Error('Error en la solicitud');
                    }
                })
                .then(data => {
                    // Redireccionar al usuario al dashboard o página principal con los datos necesarios
                    const { cedula, nombre, saldo } = data; // Suponiendo que la respuesta contiene nombre y email

                    // Construir la URL de redirección con los datos en la URL
                    const urlRedireccion = `/home?nombre=${nombre}&cedula=${cedula}&saldo=${saldo}`;

                    // Redirigir al usuario a la URL construida
                    window.location.href = urlRedireccion;
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Ocurrió un error al validar el cliente');
                });
        });
    </script>
</body>

</html>