<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <title>validar</title>
    
</head>

<body>
    <h1>Iniciar Sesión</h1>
    <form id="loginForm" method="POST">
        <label for="cedula">Cédula:</label>
        <input type="text" id="cedula" name="cedula" required><br><br>

        <label for="clave">Clave:</label>
        <input type="password" id="clave" name="clave" required><br><br>

        <input type="submit" value="Iniciar Sesión">
    </form>

    <p>¿No tienes una cuenta? <a href="/ingreso">Regístrate aquí</a></p>

    <script>
        const loginForm = document.getElementById('loginForm');

        loginForm.addEventListener('submit', (event) => {
            event.preventDefault();


            const cedula = document.getElementById('cedula').value;
            const clave = document.getElementById('clave').value;


            fetch('/clientes/validar', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ cedula, clave })
            })
                .then(response => {
                    if (response.ok) {

                        return response.json();
                    } else {

                        alert('Cédula o clave incorrectas');
                        throw new Error('Error en la solicitud');
                    }
                })
                .then(data => {
                    const { cedula, nombre, saldo } = data;
                    const urlRedireccion = `/home?nombre=${nombre}&cedula=${cedula}&saldo=${saldo}`;
                    window.location.href = urlRedireccion;
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Ocurrió un error al validar el cliente');
                });
        });
    </script>
</body>

</html>